# Dependencies for personal_ebird_explorer notebook
# Install with: pip install -r requirements-explorer.txt

jupyter
jupyterlab
voila
pandas>=2.0,<3
folium
ipywidgets>=8
whoosh
scikit-learn
pycountry

# Testing
pytest
